@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9r2j4t');
  src:  url('fonts/icomoon.eot?9r2j4t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9r2j4t') format('truetype'),
    url('fonts/icomoon.woff?9r2j4t') format('woff'),
    url('fonts/icomoon.svg?9r2j4t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-evernote:before {
  content: "\e900";
}
.icon-edit-cut:before {
  content: "\e901";
}
.icon-paste:before {
  content: "\e902";
}
.icon-loop2:before {
  content: "\ea2e";
}