.popup-content-list {
    padding: 0;
    list-style: none;
}
.popup-content-list-item {
    padding: 5px 0 5px 5px;
    border-left: 3px solid transparent;
    border-bottom: 1px solid #dddddd;
    line-height: 30px;
    cursor: pointer;
}

.theme-color {
    width: 40px;
    height: 20px;
    border-radius: 5px;
}

.popup-btn {
    margin-right: 20px;
}

.popup-btn:hover {
    background-color: rgb(44, 184, 146);
}
